<!doctype html> 
<html lang="se">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"=>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Johannas superquiz</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/Johannasquiz.css">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

</head>


<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12 column1"><center><br><br><h1>{{ question_number }}. {{ question }} </h1></center></div>

		</div>

		<div class="row">
		<form  action="{% url 'answer_page' quiz.quiz_number question_number %}" method="post">
		{% csrf_token %}
			<div class="col-xs-4"><center>
				<button type="submit" name="answer" value="1">{{ answer1 }}</button>
			</center></div>

			<div class="col-xs-4"><center>
				<button type="submit" name="answer" value="2"> {{ answer2 }} </button>
			</center></div>

			<div class="col-xs-4"><center>
				<button type="submit" name="answer" value="3">{{ answer3 }}</button>
			</form></center></div>

			<br>
		</div>

		
			<br> 
		</div>

	
			

	</div>
		<div class="row">
			<div class="col-md-12"><center><img src="https://thumbs.dreamstime.com/z/myra-3d-28399462.jpg" alt="Blomma" style="width:300px;"></div></center></div>
			
		</div>
	</div>

			<br> </br>

		
			<script src="https://ajax.googleapis.com/ajax/jquery/1.12.4/jquery.min.js"></script>

	




	<script src="js/bootstrap.min.js"></script>
</body>
<html>