body {

	background-color: #C0C0C0;
}

h1 {

	color: green;
	font-family: "Courier New";
	margin: 0 0 50px 0;


}

h2 {

	color: #FF00FF;
	font-family: "Courier New";
	margin: 0 0 50px 0;


}
p {

	color: #FF00FF;
	font-family: "Courier New", Times, Serif;
}

 
.column1 {
	background: lightsalmon;
}

button {
	background-color: #e6ffb3;
	padding: 15px 32px
	
}

 


