body {

	background-color: #C0C0C0;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 100px 0;
}

h1 {

	
	color: black;
	font-family: 'Permanent Marker', cursive;
	font-size: 70px;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

h2 {

	color: #FF00FF;
	font-family: "Courier New"; Times, Serif;
	margin: 0 0 50px 0;


}
p {

	color: #FF00FF;
	font-family: "Courier New", Times, Serif;
	font-size: 200%
}

 
.column1 {
	background: #b3ffe6;
}

button {
	background-color: transparent;
	border: none;
	font-size: 30px;
	font-family: 'Permanent Marker', cursive;

	
}

 


